body{
    background-color: rgb(133, 164, 250);
}
#experts{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 200PX;
    border: 1px black solid;
    border-radius: 15px;
    box-shadow: -2px -2px gray;
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    background-color: rgb(189, 203, 242);
}
li{
    margin-top: 5px;
    padding: 1px;

}
span{
    font-weight: bold;
    color: brown;
}
ul button{
    background-color:rgb(189, 203, 242); 
    border: none;
    margin-top: 5px;
}
label {
    margin: 5px;
    width: 300px;
    
}
input{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
}
select{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
}
#btn100, #btn200, #btn300, #btn400{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
#head, #searchBar{
    width: fit-content;
    margin: auto;
}
h1, h3{
    text-align: center;
}